<script lang="ts">
import { useEmployeeStore } from '@/stores/employee'
import type { Employee } from '@/types/Employee'
import { ref } from 'vue'
import { VForm } from 'vuetify/lib/components/index.mjs'

export default {
  setup() {
    const employeeStore = useEmployeeStore()
    const employees = ref(employeeStore.employees)

    const initialEmployee: Employee = {
      id: -1,
      name: '',
      email: '',
      password: '',
      roles: [],
      gender: 'male',
      salaryType: 'Full-Time',
      salary: 0,
      phone: '',
      wagePerHour: 0,
      branch_id: []
    }
    function closeDialog() {
      employeeStore.employeeDialog = false
    }
    async function save() {
      closeDialog()
    }
    const editedEmployee = ref<Employee>(JSON.parse(JSON.stringify(initialEmployee)))
    return {
      employeeStore,

      initialEmployee,
      editedEmployee,
      closeDialog,
      save
    }
  }
}
</script>

<template>
  <v-dialog v-model="employeeStore.employeeDialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm">
          <v-container fluid>
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.name"
                  label="Username"
                  required
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.email"
                  label="Email"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="editedEmployee.password"
                  label="Password"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="4">
                <v-select
                  v-model="editedEmployee.roles"
                  :items="[['manager'], ['employee'], ['owner']]"
                  label="Role"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-select>
              </v-col>

              <v-col>
                <v-select
                  v-model="editedEmployee.gender"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['male', 'female', 'others']"
                  label="Gender"
                ></v-select>
              </v-col>

              <v-col
                ><v-select
                  v-model="editedEmployee.salaryType"
                  :rules="[(v) => !!v || 'Field is required']"
                  :items="['Full-Time', 'Part-Time']"
                  label="SalalyType"
                ></v-select
              ></v-col>

              <v-col cols="12">
                <v-text-field
                  v-model="editedEmployee.phone"
                  label="Phone"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  v-model="editedEmployee.wagePerHour"
                  label="Wage"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
