<script setup lang="ts">
import { ref, nextTick } from 'vue'
import type { Employee } from '@/types/Employee'
import EmployeeDialog from './EmployeeDialog.vue'
import { useEmployeeStore } from '@/stores/employee'

const headers = [
  {
    title: 'Employee Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Roles',
    key: 'roles',
    value: (item: any | Employee) => item.roles.join(', ')
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'Salary Type',
    key: 'salaryType',
    value: 'salaryType'
  },
  {
    title: 'Salary',
    key: 'salary',
    value: 'salary'
  },
  {
    title: 'Phone',
    key: 'phone',
    value: 'phone'
  },
  {
    title: 'WagePerHour',
    key: 'wagePerHour',
    value: 'wagePerHour'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const initialEmployee: Employee = {
  id: -1,
  name: '',
  email: '',
  password: '',
  roles: [],
  gender: 'male',
  salaryType: 'Full-Time',
  salary: 0,
  phone: '',
  wagePerHour: 0,
  branch_id: []
}

const editedEmployee = ref<Employee>(JSON.parse(JSON.stringify(initialEmployee)))
const employeeStore = useEmployeeStore()
let editedIndex = -1
const dialogDelete = ref(false)

function editItem(item: Employee) {
  editedIndex = employeeStore.employees.indexOf(item)
  editedEmployee.value = Object.assign({}, item)
  employeeStore.employeeDialog = true
}

function deleteItem(item: Employee) {
  editedIndex = employeeStore.employees.indexOf(item)
  dialogDelete.value = true
}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedEmployee.value = Object.assign({}, initialEmployee)
  })
}

function deleteItemConfirm() {
  employeeStore.employees.splice(editedIndex, 1)
  closeDelete()
  editedIndex = -1
}
</script>

<template>
  <v-dialog persistent width="500">
    <template v-slot:activator="{ props }">
      <v-toolbar flat>
        <v-toolbar-title>Employee Management</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn
          @click="editItem"
          v-bind="props"
          prepend-icon="mdi-account-plus"
          style="background-color: #86ab60"
          color="white"
        >
          New User
        </v-btn>
      </v-toolbar>
    </template>

    <v-card>
      <!-- ส่วนของ dialogDelete -->

      <v-card-actions>
        <v-btn @click="deleteItemConfirm()">Yes</v-btn>
        <v-btn @click="closeDelete()">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-data-table :headers="headers" :items="employeeStore.employees" style="width: 100%">
    <template #item="{ item }">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.roles.join(', ') }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.salaryType }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.wagePerHour }}</td>
        <td>
          <v-btn @click="editItem(item)" color="blue darken-1" small style="margin: 8px">
            <v-icon left>mdi-pencil</v-icon>Edit
          </v-btn>
          <v-btn @click="deleteItem(item)" color="red darken-1" small>
            <v-icon left>mdi-delete</v-icon>Delete
          </v-btn>
          <v-dialog v-model="dialogDelete" persistent max-width="500">
            <v-card>
              <v-card-text>Are you sure you want to delete this Employee?</v-card-text>
              <v-card-actions>
                <v-btn color="red darken-1" text @click="deleteItemConfirm">Yes</v-btn>
                <v-btn color="primary" text @click="closeDelete">Cancel</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </td>
      </tr>
    </template>
  </v-data-table>
  <EmployeeDialog></EmployeeDialog>
</template>
