<script setup lang="ts">
import { inject, computed, type Ref } from 'vue'
import { useRoute } from 'vue-router'
import { useAuthStore } from '@/stores/auth'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const route = useRoute()
const authStore = useAuthStore()

const isLoginPage = computed(() => route.name === 'login')
</script>
<template>
  <v-navigation-drawer v-if="!isLoginPage" v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-list-item
      prepend-avatar="https://i.pinimg.com/564x/bc/61/97/bc61979451b11263cab4f49e21ffc131.jpg"
      :title="authStore.getCurrentUser()?.fullName"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="Point of Sell"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-gift"
        title="Products"
        value="products"
        :to="{ name: 'products' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="Users"
        value="users"
        :to="{ name: 'users' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-account-tie"
        title="Employee"
        value="employee"
        :to="{ path: '/employee' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-clock-time-eight-outline"
        title="Check in/out"
        value="checkinout"
        :to="{ path: '/checkinout' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-group"
        title="Members"
        value="customers"
        :to="{ path: '/Customers' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-group"
        title="Members"
        value="customers"
        :to="{ path: '/Customers' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-currency-usd"
        title="Payment Salary"
        value="salary"
        :to="{ path: '/salary' }"
      ></v-list-item>

      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

, type Ref
