<script lang="ts">
import { inject, ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
import type { Ref } from 'vue'

export default {
  setup() {
    const rail = inject<Ref<boolean>>('rail')
    const currentTime = ref<string>('')
    const route = useRoute()

    // Update current time every second
    onMounted(() => {
      const updateCurrentTime = () => {
        const date = new Date()
        const hours = String(date.getHours()).padStart(2, '0')
        const minutes = String(date.getMinutes()).padStart(2, '0')
        const seconds = String(date.getSeconds()).padStart(2, '0')
        currentTime.value = `${hours}:${minutes}:${seconds}`
      }

      updateCurrentTime()
      setInterval(updateCurrentTime, 1000)
    })

    return {
      rail,
      currentTime,
      route
    }
  },
  computed: {
    isLoginPage() {
      return this.route.name === 'login';
    }
  }
}
</script>
<template>
  <v-app-bar
    v-if="!isLoginPage"
    style="
      background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210825/pngtree-textured-smudge-abstract-retro-dark-brown-background-image_767931.jpg);
    "
  >
    <template v-slot:prepend>
      <v-app-bar-nav-icon style="color: white" @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title style="color: white">D-COFFEE</v-app-bar-title>

    <v-spacer></v-spacer>

    <div style="color: white">{{ currentTime }}</div>

    <v-btn icon>
      <v-icon style="color: white">mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon style="color: white">mdi-dots-vertical</v-icon>
    </v-btn>
  </v-app-bar>
</template>