<script lang="ts" setup>
import type { member } from '@/types/Member'
import { nextTick } from 'vue'
import { useMemberStore } from '@/stores/member'
const initialCustomer: member = {
  id: -1,
  Fullname: 'Rick',
  Tel: '0000000000',
  Point: 0
}

const storeMember = useMemberStore()
function closeDelete() {
  storeMember.delmemberid = 0
  storeMember.dialogDelete = false
  nextTick(() => {
    storeMember.editedCustomer = { ...initialCustomer }
  })
}

function deleteItemConfirm() {
  storeMember.deleteMemberbyID(storeMember.delmemberid)
  closeDelete()
}
</script>

<template>
  <v-dialog v-model="storeMember.dialogDelete" max-width="500px">
    <v-card>
      <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
@/types/Member
