<script setup lang="ts">
import { ref, provide } from 'vue'
import { RouterLink, RouterView, useRoute } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue'
import MainMenu from './components/MainMenu.vue'
import LoadingDialog from './components/LoadingDialog.vue'
import MessageBox from './components/MessageBox.vue'
import MainLayout from './layouts/MainLayout.vue'
import FullLayout from './layouts/FullLayout.vue'
const rail = ref(true)
const drawer = ref(true)
const route = useRoute()
provide('rail', rail)
provide('drawer', drawer)
</script>

<template>
  <component :is="route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"></component>
  <LoadingDialog></LoadingDialog>
  <MessageBox></MessageBox>
</template>

<style scoped>
.v-layout {
  background-image: url(https://s3-alpha-sig.figma.com/img/c015/bddc/afa1568dfcd661fda9b0fc32fb4afe1c?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BUmy1tXbzFVckK5-7xPvLbvKrRQN5EcbPUXZ97ODEIRzl5S-wmGlw8clXOETE9JHWI0ZX-L-HtSzRFRWhwbtZ3eo50uv-wHTNlZprhl4tpyADW1aIe6G-LTxtur54BM0zIdoJZ2J8F1G-io~CxfK92x4eUpAzjy-a7grmABuOGfjrNBflKNA4Vwadip4Hrc1sXDhFaCfgyMuU-q4PUXPSli9GU5ikb37sbx6MeQYPepRrIZdtEvQwyEcypzf6tPhl2p0Thy69LAuNUx1YRwv39oD246~2jtUb0G5W7kguEURqVwzrEXa8dBAtB8EWoA5OE9VVGn379WXakG-IxV1LA__);
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
